/* sansita-regular - latin */
@font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sansita/sansita-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Sansita Regular'), local('Sansita-Regular'),
         url('../fonts/sansita/sansita-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-regular.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-italic - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/sansita/sansita-v4-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Sansita Italic'), local('Sansita-Italic'),
         url('../fonts/sansita/sansita-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-italic.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-700 - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sansita/sansita-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Sansita Bold'), local('Sansita-Bold'),
         url('../fonts/sansita/sansita-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-700.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-700italic - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/sansita/sansita-v4-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Sansita Bold Italic'), local('Sansita-BoldItalic'),
         url('../fonts/sansita/sansita-v4-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-700italic.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-800 - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/sansita/sansita-v4-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Sansita ExtraBold'), local('Sansita-ExtraBold'),
         url('../fonts/sansita/sansita-v4-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-800.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-800italic - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/sansita/fonts/sansita-v4-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local('Sansita ExtraBold Italic'), local('Sansita-ExtraBoldItalic'),
         url('../fonts/sansita/sansita-v4-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/sansita-v4-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/sansita-v4-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/sansita-v4-latin-800italic.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-900 - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/sansita/fonts/sansita-v4-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Sansita Black'), local('Sansita-Black'),
         url('../fonts/sansita/fonts/sansita-v4-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/fonts/sansita-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/fonts/sansita-v4-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/fonts/sansita-v4-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/fonts/sansita-v4-latin-900.svg#Sansita') format('svg'); /* Legacy iOS */
  }
  /* sansita-900italic - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/sansita/fonts/sansita-v4-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local('Sansita Black Italic'), local('Sansita-BlackItalic'),
         url('../fonts/sansita/fonts/sansita-v4-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sansita/fonts/sansita-v4-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sansita/fonts/sansita-v4-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sansita/fonts/sansita-v4-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sansita/fonts/sansita-v4-latin-900italic.svg#Sansita') format('svg'); /* Legacy iOS */
  }
